/* 폰트 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body, [class*="st-"] {
    font-family: 'GmarketSansMedium', sans-serif !important;
}

/* color: rgba(49, 51, 63, 0.6) ; */
h1[id="3dacbfe0"] {
    color: rgba(49, 51, 63, 0.8) ;
}
/* .st-emotion-cache-10trblm.e1nzilvr1{
    background-image: linear-gradient(to right, blue, skyblue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
} */
h1[id="920bee69"] {
    color: rgba(49, 51, 63, 0.8) ;
    margin-top: -30px;
}

/* 버튼 */
.row-widget.stButton button {
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    row-gap: 8px;
    column-gap: 8px;
    width: 100%;
    border: 1px solid;
    padding: 0px 20px;
    height: 40px;
    background-color: #42413dff;
    color: #fcfcfaff;
    border-color: transparent;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.row-widget.stButton button:hover {
    background-color: #7B7A78FF;
    color: #FDFDFCFF;
    border-color: transparent;
}
.row-widget.stButton button:active {
    background-color: #7B7A78FF;
    color: #FDFDFCFF;
    border-color: transparent;
}
.row-widget.stButton button:disabled {
    background-color: #C6C6C4FF;
    color: #FEFEFDFF;
    border-color: transparent;
}


/* 사이드바 이미지 */
[data-testid="stImage"] img {
    border-radius: 5px; 
    width: 545px;
}
