fastapi 
uvicorn
streamlit
langchain
langchain-community
langchain-core 
langchain-google-vertexai
langchain-experimental 
langchain_openai
python-dotenv
google-auth
google-cloud-bigquery
google-cloud-bigquery-storage
google-cloud-aiplatform
sqlalchemy
sqlalchemy-bigquery
pyarrow
coloredlogs
matplotlib
debugpy
altair